body{
  background-color:skyblue;
}

.top{
  display: flex;
  justify-content: space-between;
}

.water-meter{
  height: 50px;
  width: 500px;
  background-color: white;
}

.water{
  height: 50px;
  width: 500px;
  background-color: blue;

}

.grow-area{
  margin: 2% auto 0 auto;
  // border: solid red 1px;
  width: 75%;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
  background-color: #96682b;
}

.plant{
  width: 50px;
  align-self:center;
  transition: width 1.5s;
}
